body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: rgb(151, 214, 214);
}

.site-title {
    color: rgb(13, 81, 13);
}

#my-image {
    box-shadow: 0 0 2px 1px #000000;
}

ul {
    list-style-type:square;
}