body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: rgb(151, 214, 214);
}

.site-title {
    color: rgb(13, 81, 13);
}

#my-image {
    box-shadow: 0 0 2px 1px #000000;
}

ul.hobbies-list {
    list-style-type: square;
}

/* include a space infront of :nth-child() */
ul.hobbies-list :nth-child(odd){
    background-color: aquamarine;
}

nav ul li {
    list-style-type:none;
    display: inline;
    background-color: blanchedalmond;
    border: darkred ridge;
}

nav a:link { 
    text-decoration: none; 
}

nav a:hover {
    background-color: palevioletred;
}