/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main css starts here */
* {
    box-sizing: border-box;
    /* width: 100%; */
    max-width: 760px;
    margin: auto;
    padding: 0px;
    /* border:#dc0505; */
}

p {
    font-size: 1.1rem;
}

nav img {
    width: 10%;
    display:flex;
    
}

.logo {
    background-color: #c78c06;
}


nav {
    background-color: #222;
    text-align: center;
    padding: 1rem;
    padding-top: 0;
    text-decoration: none;
    font-size: 17px;
}

/* dont need */
/* nav li {
    padding: 1rem 0rem 1rem;
} */

nav a {
    text-decoration: none;
    color:#c78c06;
    /* width: 100%; */
    /* display: inline-block; */
    /* text-align: center; */
    font-weight: 400;
    font-size: 18px;
}

/* fix Home link colour somehow */

/* nav li:nth-child(1){
    background-color: darkgoldenrod;
} */

.home {
    color:#222;
    background-color: #c78c06;
    display: block;
    padding-top:1rem;
    padding-bottom:1rem;
}

.logo{
    background-color: #222;
    padding: 0 1rem;
}

nav ul li:nth-child(1){
    padding: 0;
}

nav ul li:nth-child(2){
    padding: 1rem;
}

nav ul li:nth-child(3){
    padding:1rem;
}

nav ul li:nth-child(4){
    padding:1rem;
}

nav ul li:nth-child(5){
    padding:1rem;
}
h1{
    height: 150px;
}


#search-container {
    position: relative;
}

#search {
    height:50px; 
    margin:0; 
    padding:10px;
    width: 93%;
    display: flex;
}

.search-button {
    position:relative;
    float:right;
    width:50px;
    height:50px;
    font-size: 25px;
    color: #c78c06;
    border-color: #c78c06;
    background-color: #222;
}


/* .welcome {
    position: relative;
  
} */

.welcome {
    background-image: url('/images/main-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    position: relative;
  }

/* figure out a way to get main banner as background img */
/* .welcome {
    position: relative;
    /* display: inline-block; */
    /* background-image: url('/images/main-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:800px;
    position: relative;
}  */

.welcome .bleed1 {
    position: absolute;
    top: 1%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: left;
    margin: 65px 0px;
}

.welcome p{
    padding-bottom: 1rem;
    line-height: 1.5rem;
}

.about img {
    max-width: 100%;
}

.bleed1{
    color: white;
    background: rgba(0, 0, 0, 0.5); 
    padding: 5rem 1rem;
}


/* nav search somehow center */
/* body {
    max-width: max-content;
} */

/* fonts */
h1 {
    background: #c78c06;
}

h2 {
    font-size:5rem;
    font-weight: bolder;
    padding-bottom: 1rem;
    line-height: 6rem;
}

h3 {
    font-size:3rem;
    font-weight: bolder;
    padding: 1rem;
    padding-left: 0;
}

h4 {
    font-size:2rem;
    font-weight: bolder;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

h5 {
    font-size:1.5rem;
    font-weight: bolder;
    /* add a line here, possibly get rid of the break in html */
    padding-bottom:0.5rem;
    /* text-decoration: underline;  
    text-decoration-color: #DF5689;  
    text-decoration-style: solid; */
    border-bottom: 2px solid #c78c06;
    
}

.connect-button {
    display: inline-block;
    padding: 40px 0px;
    font-size: 24px;
    color: #222;
    background-color: #c78c06;
    border: none;
    width: 300px;
  }
  
  .connect-button i {
    margin-left: 1rem;
  }

/* .button {
    display: inline-flex;
    height:100px;
    background-color:#c78c06;
    border: none;
    color: #222;
    padding: 0;
    margin-top: 15px;
    text-align: left;
    text-decoration: none;
    font-size: 1.2rem;
    width: 275px;
  }

  .button-text, .button-icon {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }

  .button-text {
    padding:0 24px;
  }

  .button-icon {
    font-size: 1.5em;
    text-align: center;
    padding:0;
  } */


    /* possibly add div in html around buttons */

.services, .team {
    padding:10px;
}

.about {
    background: #ffe6ac;
    padding: 1rem;
}

.about p{
    padding-right: 0rem;
}

.digital, .marketing, .video, .web, .print {
    background: #ffe6ac;
    padding: 1rem;
    padding-top: 0; 
    margin-top: 1rem;
}

.digital img, .marketing img, .video img, .web img, .print img, .john img, .bob img {
    width: 100%;
    height: auto;
}

/* figure out how to bleed the content images here */
/* .digital img, .marketing img, .video img, .webimg, .print img{
   width: 100%;
} */

.digital p, .marketing p, .video p, .web p, .print p{
    padding-bottom: 1rem;
}

/* 
.vision img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
} */

/* line height */

.vision {
    background-image: url('/images/vision.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
  }

  .bleed {
    position: absolute;
  
    /* left: 50%;
    transform: translate(-50%, -50%); */
    padding: 1rem;
    color: white;
  }

  .bleed p {
    padding-bottom: 1rem;
  }

  .vision-button {
    /* display: inline-block; */
    padding: 40px 0px;
    font-size: 24px;
    color: #fff;
    background-color: #222;
    border: solid #c78c06;
    width: 250px;
  }

  .vision-button i {
    margin-left: 1rem;
  }

  /* .john, .bob {
    background: #ffe6ac;
    padding: 1rem;
    padding-top: 0; 
    margin-top: 1rem;
} */

.john-img img, .bob-img img{
    width: 100%;
    height: auto;
}

.contactus {
    padding: 1rem;
    padding-top: 2rem;
}

#fullname, #email {
    padding: 10px;
    margin-top:0.5rem;
    margin-bottom:1rem;
    border: 0.1pt solid #222;
    border-radius: 2px;
    width: 100%;
}

#message {
    padding: 75px;
    margin-top:1rem;
    margin-bottom:1rem;
    border: 0.1pt solid #222;
    border-radius: 2px;
    width: 100%;
}

/* need to seperate the forms more, fix the padding on the right side */

table, td, th {
    border: 1px solid black;
    width: 60%;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    height: 60px;
    padding:1rem;
    /* is there a way to center th  */
    background:#ffe6ac;
  }

  .location iframe{
    height: 500px;
    width: 100%;
  }

 footer {
    background-color: #222;
    color: #c78c06;
    padding: 2rem 1rem;
    line-height: 3rem;
  }

  footer a {
    color: #c78c06;
  }

  /* .service-button {
    display: inline-flex;
    height:100px;
    background-color:#222;
    border: none;
    color: white;
    padding: 2rem;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    width: 275px;

  } */

/* services */
.services .grid{
    padding: 1rem;
    grid-template-areas:
    "digital" 
    "marketing" 
    "video"
    "web" 
    "print";
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(5,1fr);
}

  .service-button {
    display: inline-block;
    padding: 40px 0px;
    font-size: 24px;
    color: #fff;
    background-color: #222;
    border: none;
    width: 35%;
  }
  
  .service-button i {
    margin-left: 1rem;
  }

  .send-button {
    background-color: #222;
    color:#c78c06;
    border: none;
    font-size: 24px;
    padding: 5px;
    width:fit-content;
  }

  /* desktop style */
    @media screen and (min-width: 760px){
     * {
        max-width: 1200px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:150px;
        background-color: #222;
        width: 100%;
      }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #222;
        padding: 2rem 2rem;
        padding-right: 4rem;
        margin-right: auto;
        width: inherit;
     
    }
    
    .logo {
        background-color: #222;
        margin-left: 100px;
    }

    .logo h1{
        margin: 0;
        height: auto;
    }
    
    h1 img {
        width: 75px; /* set the desired width */
        height: auto; /* set the height to auto to maintain aspect ratio */
      }
          
    /* nav css here */

   
      
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      
    nav li {
        display: inline-block;
      }
      
    nav a {
        display: block;
        color: #c78c06;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
    nav a:hover {
        background-color: #ddd;
        color: black;
      }
      

    /* #search-button {
    
    } */

    .about {
        height: 340px;
        width: 100%; /* Set the width to 100% of the parent container */
      }

    .container {
        width: auto;
        height: auto;
        box-sizing: border-box;
    }

    .about img {
        float: left;
        max-width: 50%;
        padding: 1rem;
        margin: 0;
    }
    
    .services .grid {
        display: grid;
        /* grid-template-areas:
        "digital digital digital marketing marketing marketing"
        "video video web web print print"; */
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }  
          
    .services .grid div:nth-child(1) {
        grid-column: 1/4;
     }

     .services .grid div:nth-child(2) {
        grid-column: 4/7;
     }
     .services .grid div:nth-child(3) {
        grid-column: 1/3;
     }
     .services .grid div:nth-child(4) {
        grid-column: 3/5;
     }
     .services .grid div:nth-child(5) {
        grid-column: 5/7;
     }

/* team */
.team .grid-2{
    display: grid;
    grid-template-areas:
    "john-img john-content"
    "bob-content bob-img";
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr;
}
/* 
.team .grid-2 div:nth-child(1) {
    grid-column: 1/2;
 }

 .team .grid-2 div:nth-child(2) {
    grid-column: 2/3;
 }

 .team .grid-2 div:nth-child(3) {
    grid-column: 2/3;
 }

 .team .grid-2 div:nth-child(4) {
    grid-column: 1/2;
 } */

.john-content{
    grid-area: john-content;
}

.john-img{
    grid-area: john-img;
}

.bob-content{
    grid-area: bob-content;
}

.bob-img{
    grid-area: bob-img;
}

.service-button {
    display: inline-block;
    padding: 40px 0px;
    font-size: 24px;
    color: #fff;
    background-color: #222;
    border: none;
    width: 100%;
  }

     /* Contact */

     

}

/* .team .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
} */


/*
    h1 {
        background-color: #222;
    }

    ul li {
        display: inline-block;
      }

    ul {
        background-color: #222;
    }

    ul a {
        color: #c78c06;
    }
     */