/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main css starts here */
* {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 0px;
    /* border:#dc0505; */
}

nav .logo img {
    float:left;
    width: 10%;
    padding-left: 1rem;
}

nav ul {
    background-color: #000000;
    text-align: center;
    padding: 6rem 1rem 0.5rem 1rem;
    text-decoration: none;
    font-size: 17px;
}


nav li {
    padding: 1rem 0rem 1rem;
}

a {
    text-decoration: none;
    color:darkgoldenrod;
    /* width: 100%; */
    /* display: inline-block; */
    /* text-align: center; */
    font-weight: 400;
    font-size: 18px;
}

/* fix Home link colour somehow */

nav li:nth-child(1){
    background-color: darkgoldenrod;
}

#search-container {
    position: relative;
}

#search {
    height:50px; 
    float:left bottom;
    margin:0; 
    padding:10px;
    width: 93%;
}

.search-button {
    position:relative;
    float:right;
    width:50px;
    height:50px;
    font-size: 25px;
    color: goldenrod;
    border-color: goldenrod;
    background-color: #000000;
}


.welcome {
    position: relative;
    /* display: inline-block; */
}

.welcome .bleed1 {
    position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 30%; /* Adjust this value to move the positioned div up and down */
        text-align: left;
        width: 95%; /* Set the width of the positioned div */
}

.bleed1{
    color: white;
    background: rgba(43, 42, 42, 0.5); 
    padding: 5rem;
}


/* nav search somehow center */
/* body {
    max-width: max-content;
} */



